Options All -Indexes
AddDefaultCharset utf-8


RewriteEngine on
RewriteRule ^dictionary(.*) /web/index.php/dictionary$1 [L]
RewriteRule ^$ /web/index.php/dictionary [L]
RewriteRule ^(.*)$ /web/index.php/$1 [L]
